/* product-category.css */
.category-section {
    max-width: 1360px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;


}

.category-card {
    position: relative;
    width: 295px;
    height: 450px;

    border-radius: 15px;
    overflow: hidden;


}

.overley {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.category-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;

}

.Casual {
    background: url(../images/products/casual.jpg) no-repeat center;
    background-size: cover;
}

.Esporte {
    background: url(../images/products/esporte.jpg) no-repeat center;
    background-size: cover;
}

.Moderno {
    background: url(../images/products/moderno.jpg) no-repeat center;
    background-size: cover;
}

.Futurista {
    background: url(../images/products/futurista.jpg) no-repeat center;
    background-size: cover;
}