/* product-grid.css */
.card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.highlight {
    grid-area: highlight;
    background-image: url(../images/products/card_imagem.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sneaker-purple {
    grid-area: sneaker-purple;
    background-image: url(../images/products/roxo-verde-grid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.model {
    grid-area: model;
    background-image: url(..//images/products/modelo-feminino.jpg);

}

.sneaker-color {
    grid-area: sneaker-color;
    background-image: url(../images/products/futurista-grid.jpg);

}

.sneaker-white {
    grid-area: sneaker-white;
    background-image: url(../images/products/preto-azul-grid.jpg);

}

.sneaker-silver {
    grid-area: sneaker-silver;
    background-image: url(../images/products/moderno-grid.jpg);

}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "highlight highlight sneaker-purple sneaker-purple"
        "highlight highlight model sneaker-color"
        "sneaker-white sneaker-white model sneaker-silver";
    gap: 30px;
    margin-bottom: 40px;

}

.top1-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #EDEDED;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 2rem;
    
}

.card-subtitle {
    display: flex;
    
    color: #EDEDED;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
     letter-spacing: 0.25rem;
    line-height: 2rem;

}

.cta-group {
    display: flex;
    gap: 10px;
}
@media (max-width:768px){
    
        .grid-section{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5,auto);
            grid-template-areas: "highlight highlight"
                                  "sneaker-white sneaker-white "
                                   "model sneaker-color "
                                   "model sneaker-silver"
                                   "sneaker-purple sneaker-purple" ;
                                   max-width: 100%;
                                   gap: 0.625rem;
        }
    }

.highlight {
    min-height: 494px;

}
.model{
    min-height: 370px;

}
.sneaker-white , .sneaker-purple{
    min-height: 190px;
}